<div class="container form-authentication form-small">
  <div class="row form-authentication-inner">

    <h2 class="form-heading brand">Transience</h2>
    <h3 class="form-heading">
      Please confirm your email adress<br>
      before you continue
    </h3>
    <h5>An Email is already on its way to your inbox.</h5>
    <p>
      Please confrim your email adress by clicking on the link in the Email.
      You are just one click away of the möbi shopping experience.
    </p>


    <div class="link-group">
      <%= render "devise/shared/links" %>
    </div>

  </div>
</div>
