<div class="panel panel-default">
  <div class="panel-body">
    <p>Uh-oh! Something went wrong. Please hit the back button on your browser and check to see if the form is filled in completely.</p>
  </div><!-- / panel-body -->
</div><!-- / panel -->
