<div class="row">
  <div class="col-sm-0 col-md-6 col-lg-6 headphones">
    <%= image_tag("headphones.png", class: "img-responsive headphones-logo") %>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-6">
    <h1>Find an Artist.</h1>
    <p>Bananas would love another banana</p>
      <!-- <p>Choose from our extinsive<br>database of artists.</p> -->
  </div>
</div>
