<div class="row">
  <div class="col-sm-0 col-md-6 col-lg-6 headphones">
    <%= image_tag("headphones.png", class: "img-responsive headphones-logo") %>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-6">
    <h1>What is Transience??</h1>
      <p>A Coaching platform for artists and consumers.</p>
  </div>
</div>
