// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h3 {
  font-family: 'Open Sans', sans-serif;
  font-family: 'IBM Plex Sans', sans-serif;
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  text-align: right;
  text-decoration: underline;
  color: #e7dfd0;
  font-size: 50px;
  margin: 50px 50px 20px 0px;
  text-align: left;
}

content {
  color: #e7dfd0;
  text-align: left;
}

h4 {
  font-family: 'Open Sans', sans-serif;
  font-family: 'IBM Plex Sans', sans-serif;
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  text-align: right;
  text-decoration: underline;
  color: #e7dfd0;
  font-size: 30px;
  font-weight: 700;
  margin: 50px 50px 20px 0px;
  text-align: left;
}

h4>p {
  text-align: left;
  margin-right: 0px;
  font-size: 15px;
}

.pagination {
  color: #e7dfd0;
  font-weight: 200;
  font-size: 15px;
}

.previous_page {
  background-color: #4717f6;
  padding: 10px;
}

.next_page {
  background-color: #4717f6;
  padding: 10px;
}

.pagination>a:visited {
  color: #e7dfd0;
  margin-left: 5px;
  margin-right: 5px;
  padding: 10px 5px;
  background-color: #4717f6;
}

em.current {
  color: #e7dfd0;
  margin-left: 5px;
  margin-right: 5px;
  padding: 10px 5px;
  background-color: #4717f6;
}

input#product_name {
  background-color: #e7dfd0;
  padding: 10px;
  margin: 10px;
}

input#product_price {
  background-color: #e7dfd0;
  padding: 10px;
  margin: 10px;
}

input#product_image_url {
  background-color: #e7dfd0;
  padding: 10px;
  margin: 10px;
}

textarea#product_description {
  background-color: #e7dfd0;
  padding: 10px;
  margin: 10px;
}

.btn-info {
  background-color: #0e0b16;
    border-color: #0e0b16;
  padding: 10px;
  margin: 10px;
}
