// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html {
  background: url('/assets/images/background_one.jpeg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: cover;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-family: 'IBM Plex Sans', sans-serif;
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  background-color: transparent;
  margin: 0;
}

.container-fluid {
  width: 100%;
  position: sticky;
}
div.navbar-collapse.collapse {
  padding-top: 10px;
}
.navbar {
  background-color: #0e0b16;
  border-bottom: none;
  font-size: 20px;
}

.navbar-header {
  display: inline-block;
}

a.nav-link {
  padding: 15px;
  color: #4717f6;
}

ul li {
  display: inline-block;
  float: right;
  color: red;
}

.navbar-inverse .navbar-nav > .active > a.nav-link  {
  color: #a239ca;
  text-decoration: underline;
}

.headphones {
  padding-top: 40px;
}

div.image-responsive.product-img {
  margin: 0;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-family: 'IBM Plex Sans', sans-serif;
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  text-align: right;
  text-decoration: underline;
  color: #e7dfd0;
  font-size: 50px;
  margin: 50px 50px 20px 50px;
}

h2 {font-family: 'Open Sans', sans-serif;
font-family: 'IBM Plex Sans', sans-serif;
font-family: 'IBM Plex Sans Condensed', sans-serif;
text-align: left;
text-decoration: underline;
color: #e7dfd0;
font-size: 40px;
}

.column_content {
  padding: 10px;
  margin-bottom: 35px;
}

p {
  color: #e7dfd0;
  font-family: inherit;
  text-align: right;
  font-size: 25px;
  margin-right: 50px;
}

footer.container-fluid.copy-right {
  background-color: #0e0b16;
  color: #4717f6;
  width: 100%;
  bottom: 0;
  height: 50px;
  padding:10px;
  display: flex;
  justify-content: flex-end;
  overflow:auto;
  margin-top:50px;
  position: fixed;
  font-size: 15px;
}
