// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html {
  background: url('background_one.jpeg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  background-color: #666666;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-family: 'IBM Plex Sans', sans-serif;
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  background-color: transparent;
  height: 100%;
}

.container-fluid {
  width: 100%;
  position: sticky;
}

// NAV BAR //

div.navbar-collapse.collapse {
  padding-top: 10px;
}
.navbar {
  background-color: #0e0b16;
  border-bottom: none;
  font-size: 20px;
}

.navbar-header {
  display: inline-block;
}

a.nav-link {
  padding: 15px;
  color: #4717f6;
  font-size: 17px;
  background-color: inherit;
}

ul li {
  display: inline-block;
  float: right;
}

.navbar-inverse .navbar-nav > .active > a.nav-link  {
  color: #a239ca;
  text-decoration: underline;
}

ul.navbar-left {
  margin-right: 15px;
  margin-left: 0;
  padding-left: 0;
}
.form-control {
  display: inline;
  color: #e7dfd0;
  background-color: #666666;
  margin-top: 0.5em;
}
.form-control:focus {
  border-color: #00dead;
}
.btn {
  margin-left: 0.5em;
  margin-right: 2em;
  margin-top: 0.5em;
}
.btn-success {
  background-color: #4717f6;
  border-color: #4717f6;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
.btn-success:hover {
  background-color: #e7dfd0;
  border-color: #94b0b7;
  color: #black;
  transition: color 600ms;
  -webkit-transition: color 600ms;
}

// MAIN CONTENT //

.headphones {
  padding-top: 40px;
}

div.image-responsive.product-img {
  margin: 0;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-family: 'IBM Plex Sans', sans-serif;
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  text-align: right;
  text-decoration: underline;
  color: #e7dfd0;
  font-size: 50px;
  margin: 50px 50px 20px 50px;
}

h2 {font-family: 'Open Sans', sans-serif;
font-family: 'IBM Plex Sans', sans-serif;
font-family: 'IBM Plex Sans Condensed', sans-serif;
text-align: left;
text-decoration: underline;
color: #e7dfd0;
font-size: 40px;
}

.column_content {
  padding: 10px;
  margin-bottom: 35px;
}

p {
  color: #e7dfd0;
  font-family: inherit;
  text-align: right;
  font-size: 25px;
  margin-right: 50px;
}

p>#productdata {
  margin: 20px;
  width: 40%;
}

footer.container-fluid.copy-right {
  // position: sticky;
  background-color: #0e0b16;
  color: #4717f6;
  width: 100%;
  bottom: 0;
  height: 50px;
  padding-top: 10px;
  display: flex;
  justify-content: flex-end;
  overflow:auto;
  margin-top: 50px;
  font-size: 15px;
}

// Carousel Styles //
div.carousel-caption {
  font-size: 40px;
  color: #e7dfd0;
  text-shadow: 5px;
  text-decoration: underline;
  margin-bottom: 20px;
}

a.right.carousel-control {
  width: 5%;
}

a.left.carousel-control {
  width: 5%;
}

// CONTACT MESSAGE FORM //

label {
  color: #e7dfd0;
}

input.form-control {
  // margin-right: 20px;
  margin-left: 20px;
  padding: 15px;
}

textarea.form-control {
  margin-right: 20px;
}
